.App {
  text-align: center;
  background-color: rgb(41, 138, 105);
  height: 100%;
}

img:not([src]) {
  visibility: hidden;
}

body,
html {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  margin: 0;
}

.loader {
  background-color: #1f221f;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer {
  margin-top: -80px;
  padding-bottom: 30px;
  background-color: #1f221f;
  color: white;
  line-height: 0.3;
}
.git-hub {
  color: white;
}
