.App {
  text-align: center;
  background-color: rgb(41, 138, 105);
  height: 100vh;
}

body,
html {
  padding: none;
  margin: none;
  -webkit-tap-highlight-color: transparent;
}
.loader {
  background-color: #1f221f;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer {
  margin-top: -80px;
  padding-bottom: 30px;
  background-color: #1f221f;
  color: white;
}
a {
  color: white;
}
